<table class="table table-striped">
  <thead>
  <tr>
    <th *ngFor="let head of headElements" scope="col">{{head}} </th>
  </tr>
  </thead>
  <tbody>
  <tr mdbTableCol *ngFor="let employee of employees">
    <th scope="row">{{employee.id}}</th>
    <td>{{employee.firstName}}</td>
    <td>{{employee.lastName}}</td>
    <td>{{employee.createdDate}}</td>
    <td>
      <button (click)="update(employee.id)" class="btn btn-info">edit</button>
    </td>
    <td>
      <div class="custom-control custom-switch">
      <mat-button-toggle class="custom-control-input"
                         id="customSwitches"
                         [checked]="employee.enabled"
                         (change)="checkValue(employee.enabled ? 'A' : 'B')">
      </mat-button-toggle>
      <label class="custom-control-label" for="customSwitches">Active?</label>
      </div>
    </td>
  </tr>
  </tbody>
</table>
