<div class="text-right">
  <button (click)="isCreate = !isCreate" class="btn btn-primary text-right">{{isCreate ? 'Close Panel' : 'Add New Employee'}}</button>
</div>
<div class="row">
  <div class="{{isCreate ? 'col-md-8' : isUpdate ?  'col-md-8' : 'col-md-12' }}">
    <app-list></app-list>
  </div>
  <div *ngIf="isCreate" class="{{isCreate ? 'col-md-4' : '' }}" style="margin-top: 50px">
    <app-create></app-create>
  </div>
  <div *ngIf="isUpdate" class="{{isUpdate ? 'col-md-4' : '' }}">
    <app-update></app-update>
  </div>
</div>
