<div class="card">
  <div class="card-body" *ngIf="angForm">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label>First name</label>
        <input type="text" class="form-control" formControlName="firstname"/>
      </div>
      <div
        *ngIf="angForm.controls['firstname'].invalid && (angForm.controls['firstname'].dirty || angForm.controls['firstname'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['firstname'].errors.required">
          First name is required.
        </div>
      </div>
      <div class="form-group">
        <label>Last name</label>
        <input type="text" class="form-control" formControlName="lastname"/>
      </div>
      <div
        *ngIf="angForm.controls['lastname'].invalid && (angForm.controls['lastname'].dirty || angForm.controls['lastname'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['lastname'].errors.required">
          Last name is required.
        </div>
      </div>
      <div class="form-group">
        <label>Active</label>
        <input type="checkbox" class="form-control" formControlName="enabled"/>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="angForm.invalid">Save
          Employee
        </button>
      </div>
    </form>
  </div>
</div>
